@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.maincontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif !important;
}


#div2{
    /* background-image: url('/public/images/bg_login.jpg'); */
    text-align: left;
    background-size: cover;
    background-position: center;
    width: 82%;
    height: 100%;
    overflow-y: auto;
}

#currentBranches{
    padding: 15px;
    min-height: 200px;
    border-bottom: 1px solid;
}

#sidebar{
    position: relative;
    height: 100%;
    border-right: 1px solid black;
}

#teachersDiv{
    max-height: 450px;
    overflow-y: auto;
    padding: 10px;
}